<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <p>This is where you get to call yourself a pro at paying $10/month for friends. The difference is you get access to contact info.</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>This is free membership. Gain basic access to the community. You can be aware of other people's presence. Sort of.</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class = "well">
      <h2>Sign up</h2>
      
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
