<div class="jumbotron text-center">
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where people can shmooze.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>This is free membership. Gain basic access to the community. You can be aware of other people's presence. Sort of.</h4>
            <br/>
            <%= link_to "Sign up with Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>This is where you get to call yourself a pro at paying $10/month for friends. The difference is you get access to contact info.</h4>
            <br/>
            <%= link_to "Sign up with Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
        
    </div>
</div>